<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="thuvien::header">
</head>

<body>

<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <div th:if="${check}">
                        <h5 th:text="${check}"></h5>
                    </div>
                    <br>
                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr th:if="${shoppingCart}" th:each="cartItem : ${shoppingCart.cartItem}">
                            <td class="product__cart__item">
                                <div class="product__cart__item__pic">
                                    <img style="width: 80px;"
                                         th:src="@{'data:image/jpeg;base64,' + ${cartItem.product.image}}">
                                </div>
                                <div class="product__cart__item__text">
                                    <h6 th:text="${cartItem.product.name}"></h6>
                                    <h5 th:text="'$'+${cartItem.product.costPrice}"></h5>
                                </div>
                            </td>

                            <form id="update-cart-form" th:action="@{/update-cart}" method="post">
                                <input type="hidden" name="productId" th:value="${cartItem.product.id}">
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input size="4" name="quantity" min="0" step="1" type="text" th:value="${cartItem.quantity}" readonly>
                                        </div>
                                    </div>
                                </td>



                            <td class="cart__price" th:text="'$'+${cartItem.totalPrice}"></td>

                            <td>
                                <button type="submit" name="action" value="update"
                                        th:title="Update" class="btn btn-primary">Update
                                </button>
                                <button type="submit" name="action" value="delete"
                                        th:title="Delete" class="btn btn-warning">Delete
                                </button>
                            </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a th:href="@{/products/0}">Continue Shopping</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">

                <div class="cart__total">
                    <h6>Cart total</h6>
                    <ul>
                        <li>Subtotal <span th:text="${subTotal != null ? subTotal : 0}"></span></li>
                        <li>Total <span th:text="${shoppingCart.getTotalPrices()}"></span></li>
                    </ul>
                    <a th:href="@{/check-out}" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="#"><img src="img/footer-logo.png" alt=""></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="#"><img src="img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Clothing Store</a></li>
                        <li><a href="#">Trending Shoes</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#">Sale</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Payment Methods</a></li>
                        <li><a href="#">Delivary</a></li>
                        <li><a href="#">Return & Exchanges</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer__copyright__text">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p>Copyright ©
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        2020
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->
<script>
    function submitForm() {
        document.getElementById("update-cart-form").submit();
    }
</script>
<!-- Js Plugins -->
<script th:replace="thuvien::script"></script>

</body>

</html>